@import url("theme-toggle.css");

:root {
    /*
    DARK THEME
    */

    --background-color-dark: #333333;
    --secondary-color-dark: #555555;
    --text-color-dark: #ffffff;
    --accent-color-dark: #3ecf8e;
    --accent-color-dark-hover: #56e9ce;
    --border-color-dark: #ffffff;

    /*
    LIGHT THEME
    */

    --background-color-light: #ffffff;
    --secondary-color-light: #d2d2d2;
    --text-color-light: #000000;
    --accent-color-light: #3553fb;
    --accent-color-light-hover: #2a43d0;
    --border-color-light: #000000;

    /*
    LIGHT THEME REGULAR BUTTONS / DON'T TOUCH!
    */

    --background-color-reg-button-light-theme: rgb(255, 255, 255);
    --border-color-reg-button-light-theme: rgb(212, 212, 212);
    --hover-color-reg-button-light-theme: rgb(244, 248, 251);
    --text-color-reg-button-light-theme: rgb(28, 87, 127);

    /*
    LIGHT THEME CTA BUTTONS / DON'T TOUCH!
    */

    --background-color-cta-button-light-theme: rgb(37, 116, 169);
    --border-color-cta-button-light-theme: rgb(212, 212, 212);
    --hover-color-cta-button-light-theme: rgb(28, 87, 127);
    --text-color-cta-button-light-theme: rgb(255, 255, 255);

    /********************************************************** 
    SET THESE FOR THE PAGE COLORWAYS TO THE CORRESPONDING THEME
    **********************************************************/

    --background-color: var(--background-color-light);
    --secondary-color: var(--secondary-color-light);
    --text-color: var(--text-color-light);
    --accent-color: var(--accent-color-light);
    --accent-color-hover: var(--accent-color-light-hover);

    /*
    REGULAR BUTTONS
    */

    --background-color-reg-button: var(--background-color-light-theme);
    --border-color-reg-button: var(--border-color-reg-button-light-theme);
    --hover-color-reg-button: var(--hover-color-reg-button-light-theme);
    --text-color-reg-button: var(--text-color-reg-button-light-theme);

    /*
    CALL TO ACTION BUTTONS
    */

    --background-color-cta-button: var(--background-color-cta-button-light-theme);
    --border-color-cta-button: var(--border-color-cta-button-light-theme);
    --hover-color-cta-button: var(--hover-color-cta-button-light-theme);
    --text-color-cta-button: var(--text-color-cta-button-light-theme);

    /*
    STATIC VARIABLES
    */

    /*   --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
    --margin: 4px;
    --padding: 4px;
    --font-family: "Play", sans-serif;
    --small-font-size: 12px;
    --medium-font-size: 18px;
    --large-font-size: 24px;
    --xlarge-font-size: 66px;
    --max-width: 1200px;
    --min-width: 850px;
    --border-color: var(--secondary-color-light);
    --border-radius: 4px;
    /* --main-box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    /* --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --accent-color: var(--accent-color-dark);
    --accent-color-hover: var(--accent-color-dark-hover);
    --border-color: var(--secondary-color-dark);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 24px;
    /* box-shadow: var(--box-shadow); */
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 24px;
}

fieldset {
    border: 1px solid;
    border-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 32px;
    margin: 1rem 0px;
    box-shadow: var(--box-shadow);
}

legend {
    /* padding: 4px; */
    font-size: 24px;
}

#main-heading {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: clamp(2.5rem, 6vw, 4.125rem);
    padding-left: 32px;
    margin-bottom: 24px;
}

.content-container {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    /* padding: 2rem; */
    /* margin: 1rem 0px; */
    box-shadow: var(--box-shadow);
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--text-color);
}

.job-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius); */
    padding: 2rem;
}

.job-container-left {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-right: var(--margin);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    box-shadow: var(--main-box-shadow);
}

.job-container-right {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-left: var(--margin);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    box-shadow: var(--main-box-shadow);
}

input[type="date"],
input[type="text"],
input[type="number"],
select {
    font-family: var(--font-family);
    display: inline-block;
    width: 100%;
    min-height: 1rem;
    /* margin: 4px; */
    padding: var(--padding);
    border: 1px solid;
    border-color: var(--border-color);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

input[type="date"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none; /* Remove default outline */
    border-color: var(--accent-color); /* Set border color */
    box-shadow: 0 0 10px var(--accent-color); /* Add a glow effect */
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::placeholder,
input:placeholder,
.placeholder {
    color: red;
}

input:-moz-placeholder,
input::-moz-placeholder {
    opacity: 1;
}

.result {
    font-family: var(--font-family);
    width: 100%;
    min-height: 2.5rem;
    margin: 8px auto;
    padding: 10px 10px;
    border-bottom: 1px solid var(--border-color);
    text-align: right;
    color: var(--accent-color);
}

option {
    font-family: var(--font-family);
    font-size: var(--medium-font-size);
}

input[type="button"] {
    font-family: var(--font-family);
    border-radius: var(--border-radius);
}

input[type="button"]:active,
button:active {
    transform: translateY(2px);
    transition: 0.2s ease;
}

label {
    display: inline-block;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    /* padding: 4px; */
}

/* .main-container {
    max-width: var(--max-width);
    width: 90%;
    min-width: var(--min-width);
    margin: 0 auto;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--background-color);
    margin: auto;
    padding: 20px;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    width: 75%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button-container {
    display: flex;
}

.clear-button {
    flex: 1;
    width: 50%;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 20px 10px 20px 0px;
    background-color: var(--background-color-reg-button);
    color: var(--accent-color);
    border: 1px solid;
    border-color: var(--accent-color);
    box-shadow: var(--box-shadow);
}

.clear-button:hover {
    border-color: none;
    color: white;
    background-color: var(--accent-color);
}

.calculate-button {
    border: none;
    flex: 1;
    width: 50%;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 20px 0px 20px 10px;
    background-color: var(--accent-color);
    color: white;
    box-shadow: var(--box-shadow);
}

.calculate-disparity-button {
    width: 100%;
    height: 64px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 10px auto;
    background-color: var(--accent-color);
    border: none;
    color: white;
    box-shadow: var(--main-box-shadow);
}

.calculate-button:hover,
#close-error-modal:hover,
.calculate-disparity-button:hover {
    background-color: var(--accent-color-hover);
}

#close-error-modal {
    font-family: var(--font-family);
    border: none;
    color: white;
    width: 50%;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

/* Scroll bar styles */

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-thumb {
    height: 2rem;
    width: 1rem;
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 0.5rem;
}

/* .progress-bar {
    width: 100%;
    height: 35px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
  }
  
  .progress {
    height: 100%;
    width: 0;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
  } */


/* Spinner Styles */

#loading-spinner {
    display: none;
    position: fixed;
    z-index: 9999;
    top: calc(50% - (calc(50px*0.866) / 2));
    right: calc(50% - (50px / 2));
    width: 50px;
    height: calc(50px*0.866);
    background: conic-gradient(from 120deg at 50% 64%, #0000, var(--accent-color) 1deg 120deg, #0000 121deg);
    transform-origin: 50% 50%;
    animation: sp7-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
    transition: all 1.5s ease-in-out;
}

#loading-spinner:before,
#loading-spinner:after {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    transform-origin: 50% 66%;
    animation: sp7-1 1.5s infinite;
}

#loading-spinner:after {
    --s: -1;
}

@keyframes sp7-0 {

    0%,
    30% {
        transform: rotate(0)
    }

    70% {
        transform: rotate(120deg)
    }

    70.01%,
    100% {
        transform: rotate(360deg)
    }
}

@keyframes sp7-1 {
    0% {
        transform: rotate(calc(var(--s, 1)*120deg)) translate(0)
    }

    30%,
    70% {
        transform: rotate(calc(var(--s, 1)*120deg)) translate(calc(var(--s, 1)*-5px), 10px)
    }

    100% {
        transform: rotate(calc(var(--s, 1)*120deg)) translate(0)
    }
}

.highcharts-background {
    fill: var(--background-color);
}

.highcharts-axis-labels text,
.highcharts-axis.x-axis text,
.highcharts-axis.y-axis text {
    color: var(--accent-color);
}